@using PagedList.Mvc;
@model PagedList.IPagedList<FA.JustBlog.Core.Models.Post>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Posts";
}

<div class="col-xs-12">
    <h2>Posts</h2>
    <div class="box">
        <div class="box-body">
            <div class="row">
                <div class="col-sm-6">
                    <p>
                        @Html.ActionLink("Create New", "Create")
                    </p>
                </div>

                <div class="col-sm-6">
                    @using (Html.BeginForm("Index", "Post", FormMethod.Get))
                    {
                        <p class="pull-right">
                            Find by name:
                            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                        </p>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped dataTable">
                        <tr>
                            <th style="width: 300px">
                                @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleSortParm, currentFilter = ViewBag.CurrentFilter })

                            </th>
                            <th>
                                @Html.ActionLink("Published", "Index", new { sortOrder = ViewBag.PublishedSortParm })
                            </th>
                            <th>
                                @Html.ActionLink("Posted On", "Index", new { sortOrder = ViewBag.PostedOnSortParm })
                            </th>
                            <th>
                                @Html.ActionLink("Modified", "Index", new { sortOrder = ViewBag.ModifiedSortParm })
                            </th>
                            <th>
                                @Html.ActionLink("Category", "Index", new { sortOrder = ViewBag.CategorySortParm })
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Published)
                                </td>
                                <td>
                                    @item.PostedOn.ToString("dd/MM/yyyy hh:mm:ss tt")
                                </td>
                                <td>
                                    @item.Modified.ToString("dd/MM/yyyy hh:mm:ss tt")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Category.Name)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "return confirm('Are you sure?');" })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-5">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                </div>

                <div class="col-sm-7">
                    @Html.PagedListPager(Model, page => Url.Action("Index",
                                              new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                </div>
            </div>
        </div>
    </div>
</div>


