@using FA.JustBlog.Core.Models
@model IEnumerable<FA.JustBlog.Core.Models.Post>

@{
    ViewBag.Title = "Index";
}

<!-- Page Header -->
<header class="masthead" style="background-image: url('/Content/CleanBlog/img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>@((ViewBag.Tag as Tag).Name)</h1>
                    <span class="subheading">@((ViewBag.Tag as Tag).Description)</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<div class="container">
    <div class="row">
        <div class="col-sm-9 mx-auto">
            @foreach (var item in Model)
            {
                <div class="post-preview">
                    <a href="~/Post/@item.PostedOn.ToString("yyyy")/@item.PostedOn.ToString("MM")/@item.UrlSlug">
                        <h2 class="post-title">
                            @Html.DisplayFor(modelItem => item.Title)
                        </h2>
                    </a>
                    <p class="post-meta">
                        Posted @item.PostedOn.ToString("dd/MM/yyyy")
                        with rate @item.Rate
                        by @item.ViewCount
                    </p>
                    <p class="post-subtitle">
                        @item.ShortDescription
                    </p>
                </div>
                <hr />
            }
            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
            </div>
        </div>
    </div>
</div>
<hr>