@using PagedList.Mvc;
@model PagedList.IPagedList<FA.JustBlog.Core.Models.Comment>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Comments";
}

<div class="col-xs-12">
    <h2>Comments</h2>
    <div class="box">
        <div class="box-body">
            <div class="row">
                <div class="col-sm-6">
                    <p>
                        @Html.ActionLink("Create New", "Create")
                    </p>
                </div>

                <div class="col-sm-6">
                    @using (Html.BeginForm("Index", "Comment", FormMethod.Get))
                    {
                        <p class="pull-right">
                            Find by name:
                            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                        </p>
                    }
                </div>


            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped dataTable">
                        <tr>
                            <th>
                                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })

                            </th>
                            <th>
                                @Html.ActionLink("Email", "Index", new { sortOrder = ViewBag.EmailSortParm })
                            </th>
                            <th style = "width: 350px">
                                @Html.ActionLink("Post Title", "Index", new { sortOrder = ViewBag.PostTitleSortParm })
                            </th>
                            <th>
                                Comment Text
                            </th>
                            <th>
                                @Html.ActionLink("Time", "Index", new { sortOrder = ViewBag.TimeSortParm })
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Post.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CommentText)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CommentTime.Date)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "return confirm('Are you sure?');" })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-5">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                </div>

                <div class="col-sm-7">
                    @Html.PagedListPager(Model, page => Url.Action("Index",
                                              new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                </div>
            </div>
        </div>
    </div>
</div>


