<!DOCTYPE html>
<html lang="en">
    @Html.Partial("_PartialHeader")
<body>
    @Html.Partial("_PartialNavBar")
    
    @RenderBody()
    
    @Html.Partial("_PartialFooter")

    @Scripts.Render("~/Content/CleanBlogScript")
    @RenderSection("scripts", required: false)
</body>
</html>
