<!DOCTYPE html>
<html>
@Html.Partial("_PartialHeader")
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        @Html.Partial("_PartialHeaderBar")
        @Html.Partial("_PartialSideBar")

        <div class="content-wrapper">
            <section class="content">
                <div class="row">@RenderBody()</div>
            </section>
        </div>

        @Html.Partial("_PartialFooter")
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
