<!DOCTYPE html>
<html>
@Html.Partial("_Header")
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        @Html.Partial("_HeaderBar")
        @Html.Partial("_SideBar")

        <div class="content-wrapper">
            <section class="content">
                <div class="row">@RenderBody()</div>
            </section>
        </div>

        @Html.Partial("_Footer")
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
